@page "/incomes"
@using ExpenseTracker.Data.Models
@using ExpenseTracker.Services
@using System.ComponentModel
@using System.Reflection
@inject NavigationManager NavigationManager
@inject IncomeService IncomeService
@rendermode InteractiveServer

<h3>Income</h3>

<div class="form-control d-flex justify-content-between">
    <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input id="startDate" type="date" class="form-control" @bind="startDate" @bind:event="oninput" />
    </div>
    <div class="mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input id="endDate" type="date" class="form-control" @bind="endDate" @bind:event="oninput" />
    </div>

    <button class="btn btn-outline-primary mb-2 mt-2 btn-sm btn-block" @onclick="FilterIncomes">Apply filter</button>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var income in filteredIncomes)
            {
                <tr>
                    <td>@income.Title</td>
                    <td>@income.Amount.ToString("0.00")</td>
                    <td>@income.Date.ToShortDateString()</td>
                    <td>@income.Type.ToString()</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @onclick="() => EditIncome(income.Id)">Edit</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteIncome(income)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<button class="btn btn-primary mt-2" @onclick="NavigateToAddIncome">Add income</button>



@code {
    private List<Income> incomes = new List<Income>();
    private List<Income> filteredIncomes = new List<Income>();
    private DateTime? startDate;
    private DateTime? endDate;

    protected override async Task OnInitializedAsync()
    {
        incomes = await IncomeService.GetIncomeAsync();
        StateHasChanged();
        filteredIncomes = incomes;
    }

    private void FilterIncomes()
    {
        if (startDate.HasValue || endDate.HasValue)
        {
            filteredIncomes = incomes.Where(i =>
                (!startDate.HasValue || i.Date >= startDate.Value) &&
                (!endDate.HasValue || i.Date <= endDate.Value)
            ).ToList();
        }
        else
        {
            filteredIncomes = incomes;
        }

        StateHasChanged();
    }

    private void NavigateToAddIncome()
    {
        NavigationManager.NavigateTo("/income/add");
    }

    private async Task LoadIncome()
    {
        incomes = await IncomeService.GetIncomeAsync();
        filteredIncomes = incomes;
        StateHasChanged();
    }

    private async Task DeleteIncome(Income income)
    {
        await IncomeService.DeleteIncomeAsync(income);
        await LoadIncome(); 
    }

    private void EditIncome(int incomeId)
    {
        NavigationManager.NavigateTo($"/incomes/edit/{incomeId}");
    }
}


